body {
  background-color: #003844;
  background-image: url(/assets/Component1.png);
  background-size: 5em;
  background-repeat: repeat;
  color: #f9f5e3;
  font-family: "Raleway", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  color: #1f0812;
  font-size: 5em;
  text-decoration: underline;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70%;
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    rotate: -5deg;
    scale: 80%;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
    scale: 100%;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 0;
  width: 80%;
}

.nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-btn {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00a199;
  color: #f9f5e3;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  width: 15em;
  height: 5em;
}

.nav-btn:hover {
  background-color: #03d8ce;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

/* Hero */
.hero {
  display: flex;
  width: 79%;
  padding-top: 0;
  border-radius: 15px;
  border: double 10px #ed6a5a;
  background-color: rgba(237, 106, 90, 0.4);
}

.hero-item > h2 {
  display: flex;
  font-size: 3em;
  text-align: center;
  flex-direction: column;
  color: #ed6a5a;
  text-decoration: none;
}

.hero > h2 {
  color: #f9f5e3;
}

.hero-img {
  width: 10em;
}

.img-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

/*About me */
.about {
  padding: 2em;
  padding-top: 0;
  width: 80%;
  background-color: rgba(0, 161, 153, 0.5);
  border-radius: 15px;
}
.about .skill-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.about .skill-list h3 {
  font-size: 2em;
  color: #1f0812;
}
.about .skill-list .skill-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .skill-list .skill-img {
  width: 4em;
}

/* Projects */
.projects {
  width: 80%;
  padding: 2em;
  padding-top: 0;
  background-color: rgba(0, 161, 153, 0.5);
  border-radius: 15px;
}
.projects .project-img {
  width: 20em;
}

/* Footer */
footer {
  background-color: #00a199;
  box-sizing: border-box;
  padding: 1.5em;
  padding-right: 0;
  padding-left: 0;
  margin-top: 1.5em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .contact-title {
  font-size: 2rem;
  color: #ed6a5a;
  text-shadow: 0px 1px 0px rgba(128, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
  margin: 0;
  margin-bottom: 1em;
}
footer .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 0;
  margin: 0;
}
footer .social-container .social-item {
  margin: 0;
}
footer .social-container .social-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f9f5e3;
  margin: 0;
}
footer .social-container .social-item:hover {
  color: #a7a598;
}
footer .social-container .bi {
  font-size: 1.5rem;
}
footer .social-container .social-container li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  list-style: none;
}
footer .social-container a:hover {
  color: #a7a598;
}

@media screen and (min-width: 768px) {
  .img-text-container {
    flex-direction: column;
    align-items: flex-start;
  }
  ul {
    flex-direction: row;
  }
  .hero {
    display: flex;
    width: 79%;
    padding: 2em;
  }
  .hero-item > h2 {
    font-size: 3em;
    text-align: left;
  }
}

/*# sourceMappingURL=index.css.map */
