//First palette
$color-primary: #ed6a5a;

$color-secondary-light: #006c67;

$color-secondary-dark: #003844;

$color-secondary-light-opaque: rgba(0, 161, 153, 0.5);

$color-text: #1f0812;

$color-text-light: #f9f5e3;

$color-hover: rgba(255, 255, 255, 0.059);

//Second palette
$color-primary-accent: #9e2b25;

$color-secondary-accent: #003d32;

$color-secondary-dark: #1f1d20;

$color-secondary-light: #6f7171;

$color-text-light: #ccc2b8;
