@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

footer {
  background-color: col.$color-primary-accent;
  box-sizing: border-box;
  padding: 1.5em;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: col.$color-text-light;

  .contact__social-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    width: 70%;
    margin: 0;
    padding: 0;

    .contact__social-item {
      display: flex;
      margin: 0;
      list-style: none;
    }

    .contact__social-item a {
      text-decoration: none;
      font-size: 1.5rem;
      color: col.$color-text-light;
      margin: 0;
      list-style: none;
    }

    .contact__social-icon {
      font-size: 1.5rem;
    }
  }
}
