@use "variables" as var;

//Media Queries

@mixin desktop {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

@mixin background {
  background-color: var.$color-secondary-dark;
    background-image: url(../assets/Component1.png);
    background-size: 5em;
    background-repeat: repeat;
}