@use "variables" as var;
  
.projects {
    width: 80%;
    padding: 2em;
    padding-top: 0;
    background-color: var.$color-secondary-light-opaque;
    border-radius: 15px;

    .project-item {
        padding: 2em;

        .project-img {
            width: 18em;
            }
    }
  
    .project-item:hover {
        background-color: var.$color-hover;

    }
}