@use "variables" as var;
@use "colors" as col;

.projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5em;
  padding-top: 0;
  background-color: col.$color-secondary-dark;

  .projects__title {
  }

  .projects__item {
    display: flex;
    flex-direction: column;

    .projects__item-img-container {
      .projects__item-img {
        width: 50%;
      }
    }

    .projects__item-title {
    }

    .projects__item-description {
    }
  }
}
