@use "variables" as var;
@use "mixins" as mix;
@use "colors" as col;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: col.$color-text-light;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: col.$color-secondary-light;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
