
$color-primary: #ed6a5a;

$color-secondary-light: #006c67;

$color-secondary-dark: #003844;

$color-secondary-light-opaque: rgba(0, 161, 153, 0.5);

$color-text: #1f0812;

$color-text-light: #f9f5e3;

$color-hover: rgba(255, 255, 255, 0.059);