body {
  background-color: #003844;
  color: #f9f5e3;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  border: 2px solid black;
  padding: 1em;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}


.projects {
  border: 2px solid black;
  padding: 2em;
}

/* Hero */

.hero {
  border: 2px solid black;
  padding: 2em;
  height: 100vh;
}

.hero-img {
  width: 50px;
}

/*About me */

.about {
  border: 2px solid black;
  padding: 2em;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-img {
  width: 50px;
}

/* Projects */

.project-img {
  width: 50px;
}
