body {
  background-color: #003844;
  color: #f9f5e3;
  font-family: "Raleway", sans-serif;
}

img {
  width: 50px;
}

.hero {
  border: 2px solid black;
  padding: 2em;
}

.about {
  border: 2px solid black;
  padding: 2em;
}

.projects {
  border: 2px solid black;
  padding: 2em;
}
